<div class="container">

  <% content_for :title, "New user" %>

  <h1 class="title">Student Registration</h1>

  <%= render "form", user: @user %>

  <br>

  <div>
    <%= link_to "Back to users", users_path%>
  </div>

</div>
