.title {
  color: #2c3e50;
}

.button {
  background-color: #e74c3c;
  color: #ffffff;
}

.container {
  width: 30%;
  margin: 0 auto;
}

.body {
  background-color: #f2f2f2;
}

.field {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #bdc3c7;
}